.custom-navbar {
  z-index: 1001;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #745fc9;
  color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
}

.custom-navbar .navbar-collapse {
  position: absolute;
  right: 0;
  top: 100%;
  margin-right: 20px;
}

.custom-nav-item {
  margin-left: 10px;
color: #000000;
  list-style: none;
}

.navbar-logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.navbar-menu {
  display: flex;
  align-items: flex-end;
  margin-right: auto;
}

.navbar-menu-item {
  text-decoration: none;
  color: #fff;
  margin-right: auto;

}

.navbar-menu-item:hover {
  color: #dcdcdc;
}

.hamburger-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: auto; /* Hamburger menü simgesini sağa taşır */
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }
}
